@media only screen and (max-width:768px){
	
	
	
	
	
}
@media only screen and (min-width: 768px){
	
	body{
		font-family:Lucida Console;
		background-color:aquamarine;
	
		
	}
	label{
		margin:50px;
		
	}
	h1{
	    text-align: center;
		padding:50px;
		border: 15px double;
		
	}
	input{

		text-align:center;
		padding:5px;
		width:500px;
	}
	
	header{
		text-align:center;
		font-size:45px;
		padding:25px;
	}
	#tphone{
	}
	#bday{
	}
	#butt{
		background-color:aquamarine;
		border:5px double;
		margin:15px;
	}
	
}